In [2]:
#Lets begin python Refresher

#  variable & type-casting

In [2]:
print("Welcome Ankit")

Welcome Ankit

# comment single line(use "#")  (ctrl +/)

In [3]:
a = 5  # intiger
b = 3.14   # float
name = "Ankit"  # string
is_a_boy = "True"   # boolian
print(a+b)  # boolian
print(type(a))
print(type(b))
print(type(name))
print(type(is_a_boy))

8.14
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [4]:
type(name)

str

# STRING & STRING METHOD

In [5]:
# STRINGS ARE COLLECTION OF CHARECTOR

In [6]:
name = "ankit"
print(name)
print(name.upper())  # convert in upper case

ankit
ANKIT

In [7]:
name.endswith("it")

True

In [8]:
name.endswith("ta")

False

In [9]:
name.count("a")

1

In [10]:
s = "learn datascience with harry"
print(len(s))
print(s[0:10])
print(s[1:-1])  # fore same output  you can add "len of string"
print(s[-27:-1])

28
learn data
earn datascience with harr
earn datascience with harr

# OPERATORS IN PYTHON

In [11]:
a = 11
b = 5

In [12]:
a +b    # addition

16

In [13]:
a - b    # substraction

6

In [14]:
a *b   # multiplication

55

In [15]:
a / b    # division

2.2

In [16]:
a // b    # only take intiger value

2

In [17]:
a % b    #remainder

1

In [18]:
a ** b    #  a^b

161051

# relational / comparision operator

In [19]:
a = 50 
b = 20

In [20]:
print(a==b)  # False
print(a!=b)  # True
print(a>=b)  # True
print(a<=b)  # False
print(a>b)   # True
print(a<b)   # False

False
True
True
False
True
False

# Bitwise operator

In [21]:
a = 5
b = 3
print(a & b)   # And
print(a | b)   #Or

1
7

# INPUT operator

In [22]:
a = input("enter the number a")

enter the number a 4

In [23]:
b = input("enter the number b")

enter the number b 5

In [24]:
print(a + b)   #input function gives "STRING" output bydefault
print(type(a))

45
<class 'str'>

In [25]:
# we can define the function as diff  types of datatypes
x = int(input("enter the value of x"))

enter the value of x 45

In [26]:
print(type(x))

<class 'int'>

# Oprater Precendence

In [27]:
# Operator Precedence
# Python follows PEMDAS (Parentheses, Exponents, Multiplication/Division, Addition/
# Subtraction). The order of operations in Python is:
# 1. Parentheses () – Highest precedence, operations inside parentheses are
# evaluated first.
# 2. Exponents ** – Power calculations (e.g., 2 ** 3 → 8).
# 3. Multiplication * , Division / , Floor Division // , Modulus % – Evaluated
# from left to right.
# 4. Addition + , Subtraction - – Evaluated from left to right.

# Example:
result = 10 + 2 * 3
print(result)
# Multiplication happens first: 10 + (2 * 3) = 16
result = (10 + 2) * 3
print(result)# Parentheses first: (10 + 2) * 3 = 36
result = 2 ** 3 ** 2
print(result)# Right-to-left exponentiation: 2 ** (3 ** 2)

16
36
512

# If , elif , Else statement(conditional)

In [28]:
a = int(input("enter a number : "))

if (a > 19):
    print("greter")
else:
    print("smaller")

enter a number :  34

greter

In [29]:
a = int(input("enter a number : "))
if (a>50):
    print("greater then 50")
elif (a<50):
    print("less then 50 ")
elif (a == 50):
    print("equal to 50")
else:
    print("done")

enter a number :  35

less then 50

In [30]:
# nasted of if-else statement

age = int(input("enter the age!:"))
if (age>=18):
    if (age >=80):
        print("cannot drive")
    else:
        print("can drive")
else:
    print("can not drive")

enter the age!: 67

can drive

# Function

In [31]:
def greet(name):
    print("hello", name)
greet("Ankit")

hello Ankit

In [32]:
def greet(name):
    return name
greet("Ankit")

'Ankit'

In [33]:
def countdown(n):
    if n == 0:
        print("currapted")
    else:
        print(n)
        countdown(n-1)
result = countdown(5)
print(result)

5
4
3
2
1
currapted
None

# Recursion

In [34]:
def countdown(n):
    if n == 0:
        print("currapted")
    else:
        print(n)
        countdown(n-1)
countdown(5)

5
4
3
2
1
currapted

In [35]:
def factorial(n):
    if n ==0 | n ==1:
        return 1
    return n * factorial(n-1)
factorial(5)

120

# Match Case in Python

In [36]:
code = int(input("enter the code :"))
match code:
    case 200:
        print("response Ok")
    case 400:
        print("bad response")
    case 404:
        print("found error")
print("End of the program")

enter the code : 34

End of the program

In [37]:
# code = int(input("enter the code :"))
def http_status(code):
    match code:
        case 200:
            return "OK"
        case 400:
            return "Bad Request"
        case 404:
            return "Not Found"
        case 500:
            return "Internal server error"
        case _:
            return "Unlock Status"

http_status(200)
http_status(404)

'Not Found'

# string formation and F-STRING

In [38]:
# STRINGS ARE IMMUTABLE

# .formate(x,y)   functionj
name = "Ankit"
age = 21
print("my name is {} and my age is {}".format(name,age))

my name is Ankit and my age is 21

In [39]:
#f-string
#(F-string are the most efficient and recommended way to formate styrings in m,odern python)
print(f"my name is {name} and my age is {age}")

my name is Ankit and my age is 21

In [40]:
# Formatting number
pi = 3.14159
# if  i want only teo number after decimal
print(f"pi rounded to 2 decimal places : {pi:.2f}")

pi rounded to 2 decimal places : 3.14

In [41]:
#Padding and alignment   ( using 10 width of charecter)
print(f"{'python' :<10}")  # left-align
print(f"{'python' :>10}")             # Right-align
print(f"{'python' :^10}")      #center-align
#  { <10 -> the < symbol meansd left -align the next within a total width of 10 charecters}

python
    python
  python

# LOOPS- in python  (for/while/do-while)

In [42]:
# FOR-LOOPS
fruits = ["Apple","Banana","Mango","Litchi"]
for fruit in fruits:
    print(fruit)

Apple
Banana
Mango
Litchi

In [43]:
name = "Ankit"
for i in name:
    print(i)

A
n
k
i
t

In [44]:
#merging
name = "Ankit"
for x in name:
    print(x)
    if (x== "i"):
        print("intresting")

A
n
k
i
intresting
t

In [45]:
#list in for-loop
fruits = ["Apple","Banana","Mango","Litchi"]
for fruit in fruits:
    print(fruit)
    for i in fruit:
        print (i)

Apple
A
p
p
l
e
Banana
B
a
n
a
n
a
Mango
M
a
n
g
o
Litchi
L
i
t
c
h
i

In [46]:
# RANGE 
for i in range(10):
    print("love you maa")

love you maa
love you maa
love you maa
love you maa
love you maa
love you maa
love you maa
love you maa
love you maa
love you maa

In [47]:
for k in range(5):
    print(k)

0
1
2
3
4

In [48]:
for k in range(5):
    print(k+1)

1
2
3
4
5

In [49]:
for k in range(1,6):
    print(k)

1
2
3
4
5

In [50]:
for k in range(1,12,3):    # its print all the no between 1-12 in the interval of 3
    print(k)

1
4
7
10

In [51]:
# WHILE-LOOPS 
#(run as long as condition is True)

count = 0and supported files.
while count <3:
    print(count)
    count +=1

0
1
2

In [2]:
#REV -while loop
count = 5
while (count > 0):
    print(count)
    count -= 1
    # count += 1  ( INFINITE LOOP)
else:
    print("i am in side")

5
4
3
2
1
i am in side

In [ ]:
# Loop Control Statements
# • break → Exits the loop.
# • continue → Skips to the next iteration.
# • pass → Does nothing (used as a placeholder).

In [5]:
#Do-whiloe-loop
i = 0
while True:
    print(i)
    i +=1
    if(i%10 ==0):
        break

0
1
2
3
4
5
6
7
8
9

In [6]:
# TABLE + BREAK
for i in range(15):
    if(i==10):
        break   # STOP THE EXECUTION AFTER I ==10
    print("5 x",i+1,"=",5*(i+1))
    # print("the loop is break")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [13]:
#BREAK :-
fruits = ["Apple","Banana","Mango","Litchi"]
for item in fruits:
    if(item == "Mango"):
        break    # stop the execution after item == "Mango"
    print(item)

Apple
Banana

In [12]:
#CONTINUE :- SKIP THE PERTICULAR ITERATION OF THE LOOP
fruits = ["Apple","Banana","Mango","Litchi"]
for item in fruits:
    if(item == "Mango"):
        continue
    print(item)

Apple
Banana
Litchi

In [17]:
#pass :- 
fruits = ["Apple","Banana","Mango","Litchi"]
for item in fruits:
    pass    # Donot do anything

print("tu wait kar")

tu wait kar

# LIST & LIST-METHOD

In [1]:
#list:-A list in Python is an ordered, mutable collection of elements. It can contain
# elements of different type
L = [1,3,45,7]
L[2]

45

In [3]:
print(L[0:3])
print(L[0:len(L)])

[1, 3, 45]
[1, 3, 45, 7]

In [4]:
# append :- Add a element "x" to the end of the liST
L = [1,3,45,7]
L.append(9)  
L

[1, 3, 45, 7, 9]

In [2]:
#EXTEND(ITERABLE) :-=Extends the list by appendin all elements from an iterabl
L = [1,3,45,7]
X =[5,8]
L.extend(X)
print(L)

[1, 3, 45, 7, 5, 8]

In [3]:
#INMSERT(1,200)  # Insert 200 at the position of index 1
L.insert(1,200)
L

[1, 200, 3, 45, 7, 5, 8]

In [6]:
L  # TWO ELEMENTS ARE REMOVE USING POP FROM L now

[1, 200, 3, 45, 8]

In [8]:
number = L.pop(2)
number

45

In [9]:
L

[1, 200, 8]

In [13]:
#APPEND
L.append(7)
L

[1, 200, 8, 7, 7]

In [14]:
L.count(7)

2

In [20]:
L.sort()  # sort() changes and  arrnge the list in accending order original list
L

[1, 7, 7, 8, 200]

In [17]:
sorted(L)  # return a new list which is sorted versionm of original list

[1, 7, 7, 8, 200]

In [19]:
newL = [2,54,67,89,87,43,23,56] 
#sorted()# return a new list which is sorted versionm of original list
sorted(newL)

[2, 23, 43, 54, 56, 67, 87, 89]

In [21]:
Y = [1,2,True,False,[4,7]]
Y

[1, 2, True, False, [4, 7]]

In [25]:
print(Y[4])
print(Y[4][0])
print(Y[4][1])

[4, 7]
4
7

In [26]:
#LIST CAN BVE CONCINATIZE
L1= [2,5,8,90]
L2 = [3,87,98]
L1+L2

[2, 5, 8, 90, 3, 87, 98]

In [28]:
if 87 in L2:
    print("yes")

yes

In [29]:
3 in L2

True

In [30]:
67 in L1

False

In [39]:
S = "ankit-ankita -rishi-rishu-raj"
S

'ankit-ankita -rishi-rishu-raj'

In [41]:
S.split("-")   #SPLITING STRING INTO A LIST

['ankit', 'ankita ', 'rishi', 'rishu', 'raj']

# tupples and tupple methods

In [4]:
 # tupple is  a immutable collection of elements
e = ()   # empty tupple
print(e)
print(type(e))

()
<class 'tuple'>

In [10]:
t =(4,5,78,9,34,4)
t[1]

5

In [6]:
len(t)

6

In [8]:
#packing
person = ("Ankit" ,22 ,"engineer")
#unpacking
name, age, profesion = person
print(name)
print(age)
print(profesion)

Ankit
22
engineer

In [11]:
#count :- returns no of time allement apper in the tupples
t.count(4)

2

In [15]:
#index :- return the iondex of the first occurance of element
t.index(4)

0

# sets & set methods

In [3]:
#set :- a set in python is an unordered,mutable and unique collection of elements .it doesnot allow duplicate values
empty_set = set()
print(type(empty_set))

<class 'set'>

In [7]:
set = {2,5,76,34,3,5}  # set are mutable ,unorderd,or unique collection,don't print the same type of input
set

{2, 3, 5, 34, 76}

In [4]:
# we can add mixed data type in set (type casting)
s_new= set([1, 2, 2, 4, 5, 4, 3, 3, 6, 2])   # list uinder the set  list convert into set
print(s_new)
print(type(s_new))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [6]:
s = {2,4,3,2,5,34}
s.add(98)     # add elemennt in the set
print(s)

{34, 3, 2, 4, 5, 98}

In [8]:
s.update([112,34,67])   # update the set
s

{2, 3, 4, 5, 34, 67, 98, 112}

In [11]:
#remove(x) :- remove "x" from the set (rise an error if not found)
s.remove(35)
s

KeyError: 35

In [10]:
#discard(x) :-remove "x" from the set (doesnot rise an error if not found)
s.discard(35)
s

{2, 3, 4, 5, 34, 67, 98, 112}

In [12]:
#pop() :- remove and returns a random element
s.pop()

112

In [13]:
#copy() :- returns a shallow copy of the set
s.copy()

{2, 3, 4, 5, 34, 67, 98}

In [14]:
#clear() :- remove all elements from the set
s.clear()

In [15]:
#union
s1= {2,4,3,2,5,34}
s2 = {22,43,3,23,53,354}
s1.union(s2)   #  its returns a new set of collection

{2, 3, 4, 5, 22, 23, 34, 43, 53, 354}

In [16]:
s1

{2, 3, 4, 5, 34}

In [17]:
#intersection
s1.intersection(s2)

{3}

In [22]:
#issubset(set):- returns True if "set1" is a subset "set2"   # its returns "True" , "False"
s1 = {2,4,3,2,5,34}
s3 = {2,4,3,2,5,24}
s1.issubset(s3)

False

In [25]:
#issuperset(Set)  :-  returns True if "set1" is a superset "set2" 
s1 = {2,4,3,2,5,34,24}
s4 = {2,4,3,2,5,24}
s1.issuperset(s3)

True

# DICTIONARY & ITS METRHOD'S

In [38]:
#Dictionory is mutable
D ={}
print(D)
print(type(D))

{}
<class 'dict'>

In [33]:
Dictionary ={
    "name" :"Ankit",
    "age" : 21,
    "grade" : "A"
}

In [34]:
Dictionary["name"]

'Ankit'

In [35]:
r = Dictionary.get("name")
r

'Ankit'

In [37]:
r = Dictionary.get("name4")
print(r)

None

In [41]:
Dictionary["age"] = 22

In [42]:
print(Dictionary)

{'name': 'Ankit', 'age': 22, 'grade': 'A'}

In [43]:
Dictionary.keys()

dict_keys(['name', 'age', 'grade'])

In [44]:
Dictionary.values()

dict_values(['Ankit', 22, 'A'])

In [45]:
Dictionary.items()

dict_items([('name', 'Ankit'), ('age', 22), ('grade', 'A')])

In [50]:
Dictionary.update({"nmae":"Rishi","language": "Python"})

In [51]:
Dictionary.pop("language")

'Python'

print(Dictionary)

# FILE HANDLING

### writing a file

In [3]:
#case 1:- if the file is  not present
f = open("sample.txt","w")
f.write("Hello world")
f.close()
# since file is closed hence this will not work
# f.write("hello")

In [6]:
# write multiple string
f = open("sample1.txt","w")
f.write("hello world")
f.write("\nhow are you")
f.close()

In [1]:
#CASE2:- if the file is already present
f = open("sample.txt","w")
f.write("i am ANKIT Raj")   # "W" replace the last data and add the new data
f.close()

In [15]:
#problem with W mode
#intoducing append "a" mode
#append donot replace the filew data all though its add the new data
f = open("sample1.txt","a")   # you can copy the file path if there i9s no same directory
f.write("\nI am fine!")
f.close()

In [10]:
#write multiple lines
L = ["hello\n","hi\n","how are you\n","i am fine"]

f = open("sample.txt","w")
f.writelines(L)  # "writelines" print the all data in the located file  
f.close()

###  reading from the files

In [13]:
# using read()
f = open("sample.txt","r")
s = f.read()
print(s)
f.close()

hello
hi
how are you
i am fine

In [14]:
#read upto n charecters
f = open("sample.txt","r")
s = f.read(9)
print(s)
f.close()

hello
hi

In [4]:
#readline() :- to read line by line
f = open("sample.txt","r")
print(f.readline(),end ="")
print(f.readline(),end ="")
f.close()

hello
hi

In [1]:
#reading entire using readline

f = open("sample.txt","r")

while True:
    data = f.readline()

    if data == "":
        break
    else:
        print(data,end="")

f.close()

hello
hi
how are you
i am fine

# USING CONTEXT MANAGER(with)

In [ ]:
# its a good idea to close a file  after usage as it will free up the resources
# if we don't close it , garbage collector would close it
#with keyword closes the file as soon as the usage is over

In [10]:
# with:
with open("sample2.txt","a") as f:
    f.write("\nrishi")

In [11]:
#try f.read()  :- 
with open("sample.txt","r") as f:
    print(f.read())

hello
hi
how are you
i am finerishirishirishirishi
rishi
rishi
rishi

In [12]:
# moving with in a filke -> 10 char then 10 char
with open("sample.txt","r") as f:
    print(f.read(10))
    print(f.read(10))

hello
hi
h
ow are you

In [7]:
#benifit? -> to load a big file in memory
big_L = ["hello world" for i in range(100)]

with open("big.txt","w") as f:
    f.writelines(big_L)

In [10]:
with open("big.txt","r") as f:
    chunk_size = 11

    while len(f.read(chunk_size)) > 0:
        print(f.read(chunk_size),end=" ")
        f.read(chunk_size)

hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world

In [15]:
#SEEK & TELL function
with open("sample.txt","r") as f:
    print(f.read(10))
    print(f.tell())   # tell show the where the curser is placed and exicute fruther from that place
    f.seek(0)    # seek(0) brings the curser at the mention position (0)  aftrterprint forther
    print(f.read(10))
    print(f.tell())

hello
hi
h
10
hello
hi
h
10

In [17]:
#seek duroing with
with open("sample1.txt","w") as f:
    f.write("hello")
    f.seek(0)
    f.write("x")

# Problem with working in text file
#### can't work with binary file like images
#### not good for other data type  like int/float/list/tuple

In [8]:
#WORKING WITH BINARY FILE
with open("screenshot1.png","w") as f:
    f.write("")

In [9]:
#WORKING WITH BINARY FILE
with open("screenshot1.png","rb") as f:   # rb - read binary
    with open("screenshot_copy.png","wb") as wf:   # wb - write binary
        wf.write(f.read())

In [1]:
# WORKING WITH OTHER DATA TYPE:-
# write function take data as "STRING" format
with open("sample1.txt","w") as f:
    f.write(5)   # 5 is an intiger so its gives an error

TypeError: write() argument must be str, not int

In [3]:
# write function take data as "STRING" format
with open("sample1.txt","w") as f:
    f.write("5")

In [4]:
#NOW ADD INT VALUE IN IT
with open("sample1.txt","r") as f:
    print(int(f.read()) + 5)

10

In [12]:
D = {                
    "name" : "Ankit",
    "age" : 21,
    "gender" : "male"
}   # D is a dictionary but file take it as a "string"  & cannot be convertible in str
# for modifie it we use "SERIALIZATION "  & "DESERIALIZATION"
with open("sample1.txt","w") as f:
    f.write(str(D))

In [10]:
with open("sample1.txt","r") as f:
    print(f.read())
    print(type(f.read()))

{'name': 'Ankit', 'age': 21, 'gender': 'male'}
<class 'str'>

# "SERIALIZATION "  & "DESERAILIZATION"
####    SERIALIZATION:- process of converting python data types to JSON format
####    DESERIALIZATION :- process of converting JSON to Python data types

In [7]:
# serialization using JSON module
#list
import json
l = [1,2,3,4,5,"Ankit"]

with open("demo.json","w") as f:
    json.dump(l,f)

In [28]:
#dictionary:-
# import json
D = {                
    "name" : "Ankit",
    "age" : 21,
    "gender" : "male"
}
with open("demo.json","w") as f:
    json.dump(D,f,indent =4)

In [30]:
#DESERIALIZATION
import json
with open("demo.json","r") as f:
    d = json.load(f)
    print(d)
    print(type(d))

{'name': 'Ankit', 'age': 21, 'gender': 'male'}
<class 'dict'>

In [33]:
# serialization & deserialization of TUPLE
#  ITS ALWAYS GIVES A LIST
import json
t = (1,23,6,"Rishi")

with open("demo.json","w") as f:
    json.dump(t,f)

In [9]:
# # serialization & deserialization  custom object
# class Person:
#     def __init__(self,fname,lname,age,gender):
#         self.fname = fname
#         self.lname = lname
#         self.age= age
#         self.gender = gender


#     #format to printed in
#     # -> Ankit raj age -> 21  gender -> male

In [8]:
# serialization & deserialization  custom object
class Person:
    def __init__(self,fname,lname,age,gender):
        self.fname = fname
        self.lname = lname
        self.age= age
        self.gender = gender


    #format to printed in
    # -> Ankit raj age -> 21  gender -> male

import json

def show_object(person):
    if isinstance(person,Person):
        return "{} {} age -> {} gender -> {}".format(person.fname,person.lname,person.age,person.gender)

person= Person("Ankit","raj",21,"male")
with open("demo.json","w") as f:
    json.dump(person,f,default=show_object ,indent =4)

In [15]:
#AS A DICTIONARY
import json

def show_object(person):
    if isinstance(person,Person):
        return {
            "name":person.fname + " " +person.lname ,"age":person.age,"gender":person.gender
        }

person= Person("Ankit","raj",21,"male")
with open("demo.json","w") as f:
    json.dump(person,f,default=show_object ,indent =4)

In [16]:
#deserialization
import json
with open("demo.json","r") as f:
    print(json.load(f))

{'name': 'Ankit raj', 'age': 21, 'gender': 'male'}

# PICKLING
#### PICKLING :- is the process where a python object hierachy is convewrted into a byte system ,and
#### UNPICKLING :- is the inverse operation ,whereby a byte stream(from a binary file or bytes-like object) is converted back into an object hierarchy

In [5]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def display_info(self):
        print("hi my name is" ,self.name,"i am",self.age,"years old")
            # PICKLE  dump
import pickle

p = Person("Ankit raj",21)   # creating Object

with open("person.pkl","wb") as f:
    pickle.dump(p,f)

In [3]:
import pickle
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def display_info(self):
        print("hi my name is" ,self.name,"i am",self.age,"years old")
            
            
# PICKLE load 


p = Person("Ankit raj",21)

with open("person.pkl","rb") as f:
    p = pickle.load(f)

    p.display_info()

hi my name is Ankit raj i am 21 years old

# Exception Handling

#####

There are 2 stages where error may happen in a program

    During compilation -> Syntax Error
    During execution -> Exceptions

# Syntex error
    #### Something in the program is not written according to the program grammar.
    #### Error is raised by the interpreter/compiler
    #### You can solve it by rectifying the program

In [1]:
#examplr of syntax error
print "hello world!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1499812777.py, line 2)

In [ ]:
#other example of syntax error


    # Leaving symbols like colon,brackets
    # Misspelling a keyword
    # Incorrect indentation
    # empty if/else/loops/class/functions

In [2]:
a = 5
if a==3
  print('hello')

SyntaxError: expected ':' (3315782095.py, line 2)

In [3]:
a = 5
iff a==3:
  print('hello')

SyntaxError: invalid syntax (521424995.py, line 2)

In [4]:
a = 5
if a==3:
print('hello')

IndentationError: expected an indented block after 'if' statement on line 2 (3610895221.py, line 3)

In [5]:
# IndexError
# The IndexError is thrown when trying to access an item at an invalid index.
L = [1,2,3]
L[100]

IndexError: list index out of range

In [6]:
# ModuleNotFoundError
# The ModuleNotFoundError is thrown when a module could not be found.
import mathi
math.floor(5.3)

ModuleNotFoundError: No module named 'mathi'

In [7]:
# KeyError
# The KeyError is thrown when a key is not found

d = {'name':'nitish'}
d['age']

KeyError: 'age'

In [9]:
# TypeError
# The TypeError is thrown when an operation or function is applied to an object of an inappropriate type.
1 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
# TypeError
# The TypeError is thrown when an operation or function is applied to an object of an inappropriate type.
1 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
# NameError
# The NameError is thrown when an object could not be found.
print(k)

NameError: name 'k' is not defined

In [13]:
# AttributeError
L = [1,2,3]
L.upper()

# Stacktrace

AttributeError: 'list' object has no attribute 'upper'

# Exception
If things go wrong during the execution of the program(runtime). It generally happens when something unforeseen has happened.

    Exceptions are raised by python runtime
    You have to takle is on the fly
example:
        
    Memory overflow
    Divide by 0 -> logical error
    Database error

In [ ]:
# Why is it important to handle exceptions
# how to handle exceptions
# -> Try except block

In [16]:
# let's create a file
with open('sample.txt','w') as f:
  f.write('hello world')

In [23]:
# try - except Block
# try catch demo
try:
    with open("sample4.txt","r") as f:  #there is no sample4.txt file in the directory
        print(f.read())
except:
    print("sorry file not found")

sorry file not found

In [37]:
# Catching specific exception
try:
    m =5
    f = open("sample4.txt","r")
    print(f.read())
    print(m)
    print(5/2)
    L = [1,3,4,56]
    L[100]
except FileNotFoundError:
    print("file not found")
except NameError:
    print("variable not defined")
except ZeroDivisionError:
    print("can't divide by 0")
except Exception as e:
    print(e)

file not found

In [43]:
# else:
try:
    f = open("sample4.txt","r")
except FileNotFoundError:
    print("file is not found")
except Exception:
    print("something is error")
else:
    # if the file exist its print the file data
    print(f.read())

file is not found

In [46]:
#finally
# else:
try:
    f = open("sample4.txt","r")
except FileNotFoundError:
    print("file is not found")
except Exception:
    print("something is error")
else:
    # if the file exist its print the file data
    print(f.read())
finally:
    print("ye to print hoga hi")

file is not found
ye to print hoga hi

In [ ]:
# raise Exception
# In Python programming, exceptions are raised when errors occur at runtime. 
# We can also manually raise exceptions using the raise keyword.

# We can optionally pass values to the exception to clarify why that exception was raised

In [47]:
raise ZeroDivisionError("just try for no reason")
# Java
# try -> try
# except -> catch
# raise -> throw

ZeroDivisionError: just try for no reason

In [6]:
class Bank:
    def __init__(self,balance):
        self.balance = balance

    def withdraw(self,amount):
        if amount < 0:
            raise Exception("amount can't bve -ve")
        if self.balance < amount:
            raise Exception("you don't have sufficient balancre")
        self.balance -= amount

obj = Bank(10000)
try:
    obj.withdraw(15000)
except Exception as e:
    print(e)
else:
    print(obj.balance)

you don't have sufficient balancre

In [2]:
class MyException(Exception):
    def __init__(self,message):
        print(message)

class Bank:
    def __init__(self,balance):
        self.balance = balance

    def withdraw(self,amount):
        if amount < 0:
            raise MyException("amount can't be negative")
        if self.balance < amount:
            raise MyException("you have insufficient balance")
        self.balance -= amount

obj = Bank(10000)

try:
    obj.withdraw(5000)
except MyException as e:
    print(e)
else:
    print(obj.balance)

5000

In [ ]:
#creating custom Exceptions
# exception hierarchy in python

In [1]:
# simple example
class SecurityError(Exception):
    def __init__(self,message):
        print(message)

    def logout(self):
        print("logout")

class Google:
    def __init__(self,name,email,password,device):
        self.name = name
        self.email = email
        self.password = password
        self.device = device

    def login(self,email,password,device):
        if device != self.device:
            raise SecurityError("bhai tera to L lagg gaye")
        if email == self.email and password == self.password:
            print("welcome")
        else:
            print("login error")

obj = Google("Ankit","ankitraj@gmail.com","12354","android")

try:
    obj.login("ankitraj@gmail.com","12354","ios")
except SecurityError as e:
    e.logout()
else:
    print(obj.name)
finally:
    print("database concection closed!")

bhai tera to L lagg gaye
logout
database concection closed!

# NAMESPACE
A namespace is a space that holds names(identifiers).Programmatically speaking, namespaces are dictionary of identifiers(keys) and their objects(values)
   basicaly namespace is a dictionary
There are 4 types of namespaces:

    Builtin Namespace
    Global Namespace
    Enclosing Namespace
    Local Namespace

# Scope and LEGB Rule
A scope is a textual region of a Python program where a namespace is directly accessible.The interpreter searches for a name from the inside out, looking in the local, enclosing, global, and finally the built-in scope. If the interpreter doesn’t find the name in any of these locations, then Python raises a NameError exception

In [1]:
#local and global
#global var
a =2
def temp():
    #local var
     b =3
     print(b)
temp()
print(a)

3
2

In [6]:
# local and global -> same name
# it is popssible that same variable definine in same code if there spaces are diff
#global var
a = 2

def temp():
    #local var
    a =3
    print(a)

temp()
print(a)

3
2

In [7]:
# local and global -> local doesnot have variable but globa;l have
a = 2

def temp():
    # there is no any local var
    print(a)

temp()
print(a)

2
2

In [8]:
# local and global -> editing global
a = 2

def temp():
    #local var
    a += 1
    #u can't edit global variable var local var
    # but u can change global vara = 2

def temp():
    #local var
    a =3
    print(a)

temp()
print(a) example in next code
    print(a)

temp()
#ewprint(a)

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [10]:
# editing global var
a = 2

def temp():
    #local var
    global a   # its helps to change the global a 
    a +=1
    print(a)

temp()
print(a)

3
3

In [14]:
# local and global -> global create inside loical

def temp():
    # local var
    global a 
    a = 1
    print(a)
temp()
# print(a)

1

In [17]:
#local and global -> function parameter is local
def temp(z):
    # local var
    print(z)
# z is a local variable (under the function)
a = 5
temp(5)
print(a)
# print(z)   # it shows error

5
5

In [18]:
# BUILT-in scope
# how to see all the builtins
import builtins
print(dir(builtins))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [1]:
# renaming built-ins gives error

#max is alreadey built-ins function in python
# if we go for rename it shows an error

L = [1,2,3]
print(max(L))

def max():
    print("hello")

print(max(L))

3

TypeError: max() takes 0 positional arguments but 1 was given

In [22]:
# Enclosing scope
def outer():
    def inner():
        print("inner function")
    inner()
    print("outer function")
outer()
print("main function")

inner function
outer function
main function

In [23]:
# "nonlocal" keyword
# change outer function by inner

def outer():
    a = 1
    def inner():
        nonlocal a  # change outer function
        a += 1
        print("inner",a)
    inner()
    print("outer",a)

outer()
print("main function")

inner 2
outer 2
main function

# Decorators
A decorator in python is a function that receives another function as input and adds some functionality(decoration) to and it and returns it.

This can happen only because python functions are 1st class citizens.

There are 2 types of decorators available in python

    ** Built in decorators like @staticmethod, @classmethod, @abstractmethod and @property etc
    ** User defined decorators that we programmers can create according to our needs

In [1]:
#python are first class function
def modify(func,num):
    return func(num)

def square(num):
    return num **2


modify(square,2)

4

In [8]:
#simple exzample
def my_decorator(func):
    def wrapper():
        print("**************************************")
        func()
        print("**************************************")
    return wrapper

def hello():
    print("hello")
def display():
    print("hi Ankit")

x = my_decorator(hello)
x()
a = my_decorator(display)
a()

**************************************
hello
**************************************
**************************************
hi Ankit
**************************************

In [10]:
#better syntaax
#simple example
def my_decorator(func):
    def wrapper():
        print("**************************************")
        func()
        print("**************************************")
    return wrapper

@my_decorator
def hello():
    print("hello")
@my_decorator
def display():
    print("hi Ankit")

hello()
display()

**************************************
hello
**************************************
**************************************
hi Ankit
**************************************

In [13]:
# meaningful decorator
import time

def timer(func):
    def wrapper(*args):
        start = time.time()
        func(*args)
        print("time taken by",func.__name__,time.time()-start,"secs")
    return wrapper

@timer
def hello():
    print("hello world!")
    time.sleep(2)

@timer
def square(num):
    time.sleep(1)
    print(num**2)

@timer
def power(a,b):
    print(a**b)

hello()
square(3)
power(3,2)

hello world!
time taken by hello 2.0001590251922607 secs
9
time taken by square 1.0004887580871582 secs
9
time taken by power 2.2649765014648438e-05 secs

In [21]:
# decorater with arguments
# @checkdt(int)   # not define u have to define function as checkdt
def square(num):
    print(num**2)

In [23]:
def sanity_check(data_type):
    def outer_wrapper(func):
        def inner_wrapper(*args):
            if type(*args) == data_type:
                func(*args)
            else:
                raise TypeError("this dattype is invalid")
        return inner_wrapper
    return outer_wrapper

@sanity_check(int)
def square(num):
    print(num**2)

@sanity_check(str)
def greet(name):
    print("hello",name)

square(2)
greet("Ankit")

4
hello Ankit

# OOPS (OBJECT ORIENTED PROGRAMING)